*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

.app_nav {
    position: fixed;
}

.app_main {
    position: relative;
}

.flex {
    display: flex;
}
