/*Font*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blackColor: #222;
    --whiteColor: #fff;
    --appVerticalPadding: 40px;
    --transitionTimingFunction: ease;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    font: inherit;
    background-color: var(--whiteColor);
    width: 100%;
    max-width: 400px;
    padding: 12px 40px;
    border: 1px solid var(--blackColor);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: .2s var(--transitionTimingFunction);
    transition-property: background-color, color;
}
button:hover {
    background-color: var(--blackColor);
    color: var(--whiteColor);
}
button:disabled {
    background-color: var(--whiteColor);
    border-color: #eeeeee;
    cursor: default;
}

.flex {
    display: flex;
}
.flex_w {
    flex-wrap: wrap;
}
.gap_10 {
    gap: 10px;
}

.align_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.mb_10 {
    margin-bottom: 10px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_40 {
    margin-bottom: 40px;
}

.title {
    position: sticky;
    top: 0;
    transform: translateX(calc(var(--appVerticalPadding) * -1));
    background-color: #fff5;
    -wekbit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: calc(100% + var(--appVerticalPadding) * 2);
    padding: 12px;
    padding-left: var(--appVerticalPadding);
    border-bottom: 1px solid #eeeeee;
}

/* App */

.app_link {
    color: #539DC2;
    text-decoration: underline;
}

.app_nav {
    position: sticky;
    top: 0;
    background-color: #F8F8F8;
    height: 100vh;
    padding-top: var(--appVerticalPadding);
    padding-bottom: var(--appVerticalPadding);
    overflow: auto;
    border-right: 1px solid #eeeeee;
}
.app_nav::before {
    content: "Oops..";
    z-index: -1;
    position: absolute;
    bottom: 50px;
    opacity: .1;
    font-size: 3rem;
    font-weight: bold;
}

.app_nav a {
    display: block;
    color: var(--blackColor);
    padding: 10px 160px 10px 40px;
    transition: background-color .2s var(--transitionTimingFunction);
}
.app_nav a:hover {
    background-color: #539DC250;
}
.app_nav a.active {
    background-color: #539DC2AA;
}

.app_main {
    position: relative;
    flex-grow: 1;
    background-image: url(/assets/media/bg.png);
    background-attachment: fixed;
    padding: var(--appVerticalPadding);
}

/* Apologies */

.apology_item {
    background-color: var(--whiteColor);
    margin: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px #cccccc;
}

.apology_item .code {
    display: inline-block;
    background-color: #ff865750;
    padding: 2px 8px;
    border: 1px solid #ff8657;
    border-radius: 4px;
}

.apology_item .tag {
    display: inline-block;
    background-color: #57a5ff50;
    padding: 2px 8px;
    border: 1px solid #57a5ff;
    border-radius: 4px;
}
